.App {
  text-align: center;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

.submit-btn:hover,button:hover {
  background-color: #0dbce8;
}

h2 {
  padding-bottom: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.logo-img {
  border: none !important;
}

.lang-item:hover {
  background: aliceblue;
}
.lang-list {
  max-width: 70%;
  word-break: break-word;
}
.input-label {
  padding: 5px;
  border: 1px solid #eeeeee;
}